<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body>

    <%- include('../partials/nav.ejs') %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    </div>

    <%- include('../partials/footer.ejs'); %>

    <!-- Handling the front end logic of delete method -->
    <script>
        // This runs on the browser not the node server
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`; // getting the value of the attribute 'data-doc' above

            fetch(endpoint, {
                method : 'DELETE'
            })
            .then((response) => response.json()) /* converting the json response to js object(below known as data */
            .then((data) => {
                // redirecting from the front end
                window.location.href = data.redirect;
            })
            .catch(err => console.log(err));
        })
    </script>
</body>

</html>